
.tab{
/* border:1px solid black; */
width:100%;
text-align: center;
padding: 10px;
margin: auto;
display: flex;
justify-content: space-around;
/* background: linear-gradient(90deg, rgb(165, 180, 252), rgb(192, 132, 252)); */
/* background: linear-gradient(90deg, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248)); */
/* linear-gradient(90deg, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248)); */
cursor: pointer;
background: rgba(129, 140, 248,0.8);
border-radius:10px;


}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

}



.menu{
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 10px 15px;
    /* border: 1px solid black; */
    color: #673ab7;
    border-radius:20px;
    box-shadow: 0px 0px 6px #fff;
    background: transparent;
cursor: pointer;
outline: none;
border: none;
font-family: 'Archivo', sans-serif;

}
.active{
    background: rgba(255,255,255,0.9);
    border-radius:20px;
    color:#673ab7
}

/* .menu:hover,.active{
    background: rgba(255,255,255,0.5);
    color:#673ab7;
    transition: background 1000ms linear;

} */

.menu {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color 1000ms;
    transition: color 1000ms;
  }
  .menu:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.9);

    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
    border-radius:20px;
    
  }
  .menu:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .calc-card-range{
     margin-top: 2rem;
   width: 49%;
   min-width: 30rem;
      height: 30rem;
      /* border: 1px solid green; */
      box-shadow:  0px 0px 15px 0px rgba(165, 180, 252,0.9);
     /* background: linear-gradient(90deg, rgba(249, 168, 212,0.2), rgba(216, 180, 254,0.3), rgba(129, 140, 248,0.4)); */
     font-family: 'Archivo', sans-serif;
  }

  .calc-card-chart{
    margin-top: 2rem;
    width: 49%;
    min-width: 30rem;
    
     height: 30rem;
     /* border: 1px solid green; */
     box-shadow:  0px 0px 15px 0px rgba(165, 180, 252,0.9);
     /* background: linear-gradient(90deg, rgba(249, 168, 212,0.1), rgba(216, 180, 254,0.1), rgba(129, 140, 248,0.1)); */
     font-family: 'Archivo', sans-serif;

 }

 .text-card{
     padding:10px !important;
     border-bottom: 2px solid rgb(192, 132, 252,0.2);
 }

 .range-box-input{
    position: relative;

    -webkit-appearance: none;
    outline: none;
     border:none;
     padding:5px;
     width:85px;
     border-bottom: 3px solid transparent;
     border-radius: 16px;
     border-image: linear-gradient(90deg, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
     border-image-slice: 3;
     border-radius: 20px;
     background: none;
    
 }
 .range-box-input:after{
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(90deg, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
    content: '';
    z-index: -1;
    border-radius: 16px;
 }


 .slider{
     width: 80%;
     margin:10px auto;
     padding: 10px;
 }


 .gdas-range {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
       background-image: linear-gradient(90deg, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .gdas-range::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 30px;
      height: 30px;
      background:transparent;
      border: 4px solid transparent;
      border-radius: 50%;
      cursor: pointer;
       background-image: linear-gradient(white, white), linear-gradient(90deg, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
       background-attachment: fixed, fixed;
       background-clip: padding-box, border-box;
  }
  
  .gdas-range::-moz-range-thumb {
    
    appearance: none;
    width: 30px;
    height: 30px;
    background:transparent;
    border: 4px solid transparent;
    border-radius: 50%;
    cursor: pointer;
       background-image: linear-gradient(white, white), linear-gradient(90deg, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
       background-attachment: fixed, fixed;
       background-clip: padding-box, border-box;
  }
  #chartdivfinance {
    width: 100%;
    height: 300px;
  }